<h1>Plot Index</h1>

<% @plots.each do |plot|%>
  <section id=<%= "plot-#{plot.id}"%>>
    <p> <%= plot.number%> </p>
    
    <% plot.plants.each do |plant|%>
      <p><%= plant.name%></p>
    <%end%>
  </section>
<%end%>